.btn_reset {
  display: none;
  width: 42px;
  padding: 0;
}

@media screen and (min-width: 469px) {
  .btn_reset {
    width: 50px;
  }
}

@media screen and (min-width: 599px) {
  .btn_reset {
    width: 60px;
  }
}