.intro__subtitle {
  font-size: 18px;
  margin: 0 0 30px;
  padding: 0;
}

@media screen and (min-width: 599px) {
  .intro__subtitle {
    font-size: 34px;
    margin: 0 0 34px;
    padding: 24px 0;
  }
}
